body {
    height: 100vh;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(117, 52, 15);

}

nav {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

.restaurant-clipart {
    height: 50%;
    width: auto;
    align-self: center;
}

#content {
    height: 100%;
    color: inherit;
}

.content {
    height: 100%;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
}

.body-text {
    color: inherit
}

li {
    list-style-type: none;
}


button {
    background-color: rgb(214, 160, 79);
    color: white;
    border: none;
    border-radius: 12px;
    align-self: center;
}